It's a sort of Akinator game. Pygame, time and sys are used, python 3.10.4.

1) There is menu (start and exit buttons).
2) Program should display questions on the screen by queue (after clicking on 'yes' or 'no')
3) The output is either a name or a negative answer.
