backcall==0.2.0
button==0.0.3.post3
executing==0.8.3
fonts==0.0.3
pickleshare==0.7.5
Pillow==9.1.0
pure-eval==0.2.2
pygame==2.1.2
pygame-widgets==1.0.0
pywin32==303
pyzmq==22.3.0
six==1.16.0
tornado==6.1
traitlets==5.1.1
wcwidth==0.2.5
